---
import NavUno from "./navbars/NavUno.astro";

//inspirado en una pagina de wix
---

<header>
  <NavUno />
</header>
<section class="flex flex-col justify-center items-center m-auto p-4">
  <div class="parent">
    <div class="div1">
      <h1>titulo principal de la pagina aqui van cosas</h1>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut fugiat
        voluptate aut soluta corrupti nihil,
      </p>
    </div>
    <div class="div2">
      <img src="/p1.webp" alt="" />
    </div>
    <div class="div3">
      <img src="/p2.webp" alt="otra foto" />
    </div>
    <div class="div4">
      <img src="/p3.webp" alt="otra foto mas" />
    </div>
  </div>
</section>

<style>
  @import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Orbitron:wght@400..900&display=swap");

  body {
    background-color: #ebebeb;
    font-family: "Orbitron", sans-serif;
  }

  .parent {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 8px;
  }

  .div1 {
    grid-column: span 2 / span 2;
    grid-row: span 2 / span 2;
    transition: 0.2s ease-in-out;
    border-radius: 15px;
    background-color: #fff;
    color: black;
    padding: 10px;

    & h1 {
      font-size: 32px;
      text-transform: capitalize;
      font-weight: 800;
      margin-bottom: 150px;
    }

    & p {
      font-size: 18px;
      font-weight: 500;
    }

    &:hover {
      color: #fff;
      background-color: black;
    }
  }

  .div2,
  .div3,
  .div4 {
    overflow: hidden;
    border-radius: 15px;
    cursor: url(/cursor1.png), pointer;

    & img {
      transition: 0.2s ease-in-out;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    & img:hover {
      scale: 1.1;
    }
  }

  .div2 {
    grid-row: span 2 / span 2;
    grid-column-start: 1;
    grid-row-start: 3;
  }

  .div3 {
    grid-row: span 2 / span 2;
    grid-column-start: 2;
    grid-row-start: 3;
  }

  .div4 {
    grid-column: span 2 / span 2;
    grid-row: span 5 / span 4;
    grid-column-start: 3;
    grid-row-start: 1;
  }

  /* Responsive Design */
  @media (max-width: 1024px) {
    .parent {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(4, 1fr);
    }

    .div1 {
      grid-column: span 2;
      grid-row: span 2;

      & h1 {
        font-size: 28px;
        margin-bottom: 100px;
      }

      & p {
        font-size: 16px;
      }
    }

    .div2,
    .div3,
    .div4 {
      grid-column: span 1;
      grid-row: span 2;
    }

    .div4 {
      grid-column: span 2;
      grid-row: span 3;

      & img {
        object-fit: cover;
        width: 100%;
        height: auto;
      }
    }
  }

  @media (max-width: 768px) {
    .parent {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(4, 1fr);
    }

    .div1 {
      grid-column: span 1;
      grid-row: span 1;

      & h1 {
        font-size: 24px;
        margin-bottom: 50px;
      }

      & p {
        font-size: 14px;
      }
    }

    .div2,
    .div3,
    .div4 {
      grid-column: span 1;
      grid-row: span 1;

      & img {
        object-fit: cover;
        width: 100%;
        height: auto;
      }
    }
  }
</style>
